body{
    margin: 0px;
    padding: 0px;
    background-color: #DCDCDC;
}

.filtre{
    height: 750px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(87, 81, 81, 0.411);
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}


h1{
    text-align: center;
    font-size: 80px;
}

nav{
    margin-bottom: 170px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}


header{
    background-image: url(/FirstProject-main/images/about-bg-5.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.LOGO{
    background-repeat: no-repeat;


    width: 50%;
    margin-left: 50px;
}


ul{
    gap: 30px;
    display: flex;
    align-items: center;
    margin: 20px;
}

li{
    list-style: none;
}


.OUTDOOR{
    display: flex;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}



.button{
    
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left-width: 0px;
    border-right-width: 0px;
    color: white;
    cursor: pointer;
    background-color:rgb(251, 32, 86)
}


.petite_barre{
    border-top: solid 3px rgb(251, 32, 86);  ;
    
    width: 50px;
    height: 20px;
}



.SupportImage{
    width: 530px;
    height: 357px;
    background-color: rgba(128, 128, 128, 0.267);
}




.BLOCK1{
    margin-top: 100px;
    display: flex;
    gap: 100px;
}


.BLOCK1_TEXTE{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    margin-left: 500px;

    
    
}

.BLOCK1_IMAGES{
    height: 340px;
    width: 520px;
}

.imagesBlock1{
    width: 520px;
    height: 347px;

}


.BLOCK2{
    margin-top: 200px;
    width: 45%;
    display: flex;
    margin-left: 500px;
    gap: 190px  
}



.BLOCK2_LEFT_TEXTE{

    display: flex;
    flex-direction: column;
    width: 65%;
}






.mini_barre{

    border-bottom: solid 3px rgb(251, 32, 86);  ;
    width: 10px;
    


}

.mini_barre_section{
    display: flex;
}


   
.FOOTER{
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        background-color: black;
        text-align: center;
        margin-top: 50px;
        padding: 20px;
}
